@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
}

:root {
  --main-blue: #00253a;
  --main-green: #2e933c;
  --white: #ffffff;
}

.paginationContainer__currentPageDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2ch;
    column-gap: 2ch;
}